body {
    font-style: italic;
    font-family: "Engravers MT", Times, serif;
    color : rgb(34, 105, 2);
    background-image: url('../images/background.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}



.left-img {
    float : left;
    display: block; 
    margin: 0 auto; 
    
}



canvas {
    display: block; 
    margin: 100px auto; 
    font-style: italic;
    color:black;
}

nav{
    font-style: italic;
    font-size:large;
    color: blue;
    float: right;


}

button {
    font-size: larger;
    font-style: italic;
    color:green;


}

